.main {
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
  padding: var(--space-6) 0;

  @media (min-width: 650px) {
    padding: var(--space-8) 0;
  }
}

.content {
  flex: 1 1;
  overflow: hidden;
  padding: 3px;
}
