.root {
  position: relative;
  height: calc(100dvh - var(--header-height));
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-3);

  @media (min-width: 768px) {
    align-items: center;
  }
}

.root [data-animate] {
  transition-property: opacity, transform, filter;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: var(--delay, 0s);

  @media not (prefers-reduced-motion: reduce) {
    @starting-style {
      opacity: 0;
      transform: translateY(20%);
      filter: blur(20px);
    }
  }
}

.title {
  font-size: clamp(
    var(--font-size-8),
    0.3214rem + 5.1429vw,
    calc(var(--font-size-9) * 1.1)
  );
  line-height: clamp(
    var(--line-height-8),
    0.3214rem + 5.1429vw,
    calc(var(--line-height-9))
  );
  letter-spacing: clamp(-0.01em, 0.3214rem + 5.1429vw, -0.025em);
  color: var(--color-accent);
  font-family: var(--ff-heading);
  font-weight: var(--font-weight-bold);
  text-wrap: balance;

  @media (min-width: 768px) {
    text-align: center;
  }
}

.word {
  will-change: transform;
  display: inline-block;
}

.description {
  font-size: clamp(
    var(--font-size-3),
    0.5714rem + 1.1429vw,
    var(--font-size-6)
  );
  line-height: clamp(
    var(--line-height-3),
    0.5714rem + 1.1429vw,
    var(--line-height-6)
  );
  letter-spacing: clamp(0em, 0.5714rem + 1.1429vw, -0.00625em);
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-11);
  text-wrap: balance;
  will-change: transform;

  @media (min-width: 768px) {
    text-align: center;
    max-width: 60%;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  will-change: transform;
  transition:
    opacity 5s ease-out,
    transform 5s ease-out;

  @media (min-width: 768px) {
    gap: var(--space-3);
    justify-content: center;
  }
}

.chip {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  background-color: var(--pill-background-color);
  color: var(--pill-color);
  padding-inline: var(--space-3);
  border-radius: var(--radius-full);
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);

  &:where([data-color='blue']) {
    --pill-background-color: #00b3ee1e;
    --pill-color: #7ce2fe;
  }

  &:where([data-color='orange']) {
    --pill-background-color: #ff9c0029;
    --pill-color: #f76b15;
  }

  &:where([data-color='white']) {
    --pill-background-color: rgba(255, 255, 255, 0.15);
    --pill-color: var(--color-white);
  }

  @media (min-width: 768px) {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
  }
}

.light {
  --color: var(--color-accent);

  height: 1500px;
  width: 600px;
  position: absolute;
  left: calc(50% - 250px);
  top: -1000px;
  pointer-events: none;
  user-select: none;
  opacity: 0.25;

  border-radius: var(--radius-full);
  mask-image: radial-gradient(var(--color-black) 0, transparent 65%);
  background-image: conic-gradient(
    from 0deg at 50% 0,
    transparent 45%,
    oklch(from var(--color) l c h / 10%) 47%,
    oklch(from var(--color) l c h / 20%) 48.5%,
    oklch(from var(--color) l c h / 50%) 50%,
    oklch(from var(--color) l c h / 20%) 51.5%,
    oklch(from var(--color) l c h / 10%) 53%,
    transparent 55%
  );
  transition: opacity 1s ease;
  transition-delay: 1.2s;

  &:where([data-light-left]) {
    transform: rotate(12deg) translateX(-200px);
  }

  &:where([data-light-right]) {
    transform: rotate(-16deg) translateX(80px);
  }

  @media not (prefers-reduced-motion: reduce) {
    @starting-style {
      opacity: 0;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-outline-color-rest);
  box-shadow: inset 0 0 0 1px var(--button-outline-borderColor-rest);
  height: var(--space-6);
  border-radius: var(--radius-1);
  padding-inline: var(--space-3);
  margin-top: var(--space-6);
  gap: var(--space-1);
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);

  &:where([data-hovered]) {
    background-color: var(--button-outline-bgColor-hover);
  }

  &:where([data-pressed]) {
    background-color: var(--button-outline-bgColor-active);
  }
}
