.main {
  position: relative;
  margin: auto;
  max-width: var(--content-width-with-padding);
  padding: 0 var(--content-padding);
  overflow: clip;
}

.bg {
  position: fixed;
  inset: 0;
  pointer-events: none;
  user-select: none;
  background-image: url(/noise.svg);
}
