.pre {
  padding-bottom: var(--space-12);
  max-height: 650px;

  &:where([data-expanded='false']) {
    max-height: 250px;
    overflow: hidden;
  }
}

.triggerWrapper {
  --scrollbar-width: 10px;

  position: absolute;
  left: var(--scrollbar-width);
  right: var(--scrollbar-width);
  bottom: 0;
  height: var(--space-12);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: var(--space-4);
  border-radius: inherit;
  isolation: isolate;

  &::after {
    content: '';
    position: absolute;
    inset: 0 calc(0px - var(--scrollbar-width));
    background: linear-gradient(0deg, var(--color-green-2) 0, transparent 100%);
    border-radius: inherit;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    z-index: -1;
  }
}
