.breadcrumbs {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  margin-bottom: var(--space-3);
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--color-text-weak);
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);

  &:where([data-current]) {
    color: var(--color-text);
  }
}

.breadcrumb a[data-hovered] {
  text-decoration: underline;
  text-decoration-thickness: from-font;
  text-underline-position: from-font;
}
